.movie-container {
    width: calc(100% - 2rem);
    margin-top: 8rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
}

.movie-container h1 {
    font-size: 3rem;
    margin: 0;
}

.movie-info {
    margin: 0 0 0.5rem 0;
}

.movie-details {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.movie-poster > img{
    border: 4px solid var(--accent-color);
    height: 80vh;
    width: calc(80vh * 2/3);
    border-radius: 1.5rem;
}
